<div class="container">
  <div class="form_wrapper">
    <div class="form_top">
      <h2>予定の新規追加</h2>
    </div>
    
     <%= render "shared/error", obj: @schedule %>
    
    <div class="form_container">
      <%= form_with model: @schedule, local: true do |f| %>
      <form action="schedules" method="post">
        <div class="form_title">
          <%= f.label :title, "タイトル", class:"form_label" %>
          <%= f.text_field :title, class:"form_input", :placeholder=>"タイトル" %>
        </div>
        
        <div class="form_date">
          <%= f.label :start, "開始日", class:"form_label" %>
          <%= f.date_field :start, class:"form_input" %>
        </div>
        
        <div class="form_date">
          <%= f.label :finish, "終了日", class:"form_label" %>
          <%= f.date_field :finish, class:"form_input" %>
        </div>
        
        <div class="form_checkbox">
          <%= f.hidden_field :all_day, value:false %>
          <%= f.check_box :all_day, {class:"input_checkbox"}, true, false %>
          <%= f.label :all_day, "終日の場合はチェックを入れます", class:"form_label_all_day" %>
        </div>
        
        <div class="form_memo">
          <%= f.label :memo, "スケジュールメモ", class:"schedule_memo" %>
          <%= f.text_area :memo, class:"form_input", :placeholder=>"メモを入力する" %>
        </div>
        
        <div class="form_buttons">
          <%= link_to "キャンセル", :schedules, class:"button_cancel" %>
          <%= f.submit "保存", class:"button_save" %>
        </div>

      </form>
      <% end %>
    </div>
    

  </div>
</div>